In [43]:
import pandas as pd
import numpy as np

In [ ]:
# Read Zillow Data - full dataset

df = pd.read_csv("../Resources/ZILLOW_DATA.csv")

In [2]:
# Read Regions dataset

dfRegions = pd.read_csv("../Resources/ZILLOW_REGIONS.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89305 entries, 0 to 89304
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   region_id    89305 non-null  int64
 1   region_type  89305 non-null  object
 2   region       89305 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB

There are no missing regions:
 None

Here's the count of unique region columns:
 region_id      89305
region_type        6
region         89295
dtype: int64

In [ ]:

print("\nThere are no missing regions:\n",dfRegions.info())
print("\nHere's the count of unique region columns:\n",dfRegions.nunique())

In [3]:

print("Here are the top 5 rows of the dataframe:\n",df.head())
print("\nHere are the columns with missing data:\n",df.info())
print("\nHere's the count of unique values in the dataset:\n",df.nunique())

Here are the top 5 rows of the dataframe:
   indicator_id  region_id        date     value
0         ZATT       3101  1998-01-31  338849.0
1         ZATT       3101  1998-02-28  342993.0
2         ZATT       3101  1998-03-31  346763.0
3         ZATT       3101  1998-04-30  349356.0
4         ZATT       3101  1998-05-31  351981.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151555917 entries, 0 to 151555916
Data columns (total 4 columns):
 #   Column        Dtype
---  ------        -----
 0   indicator_id  object
 1   region_id     int64
 2   date          object
 3   value         float64
dtypes: float64(1), int64(1), object(2)
memory usage: 4.5+ GB

Here are the columns with missing data:
 None

Here's the count of unique values in the dataset:
 indicator_id          56
region_id          89305
date                1129
value           82293706
dtype: int64

In [4]:
print("There are no null values:\n",df.isnull().sum())
print("\nHere are the row and column counts for the data:",df.shape)

There are no null values:
 indicator_id    0
region_id       0
date            0
value           0
dtype: int64

Here are the row and column counts for the data: (151555917, 4)

In [5]:
print(df['date'].min())
print(df['date'].max())

1996-01-31
2023-11-04

In [6]:
dfRegions.head()

   region_id region_type                                             region
0     394401       metro                                      Boone, IA; IA
1     274772       neigh  Northeast Dallas; TX; Dallas-Fort Worth-Arling...
2     273698       neigh  Far North; TX; Dallas-Fort Worth-Arlington, TX...
3     275473       neigh  Southeast Dallas; TX; Dallas-Fort Worth-Arling...
4          9       state                                         California

In [7]:
# Filter Regions dataframe for region_type = 'zip'

dfRegions=dfRegions.loc[dfRegions['region_type']=='zip',:]

# Create 'zip' column by spliting 'region' column and extracting zip
dfRegions['zip']=dfRegions['region'].str.split(';',n=1,expand=True)[0]

dfRegions.head(25)

,region_id,region_type,region,zip
9,58011,zip,00612; MI; Crawford County; Frederic,00612
13,58051,zip,00693; PA; Pittsburgh; Westmoreland County; Gr...,00693
17,58109,zip,00795; AL; Auburn-Opelika; Lee County; Juana Diaz,00795
23,58129,zip,00907; AR; Forrest City; Saint Francis County;...,00907
91,92526,zip,"78584; TX; Rio Grande City-Roma, TX; Starr County",78584
265,58004,zip,00602; AL; Auburn-Opelika; Lee County; Auburn,00602
269,62298,zip,"11951; NY; New York-Newark-Jersey City, NY-NJ-...",11951
455,94610,zip,84627; UT; Sanpete County; Ephraim,84627
534,89510,zip,"72370; AR; Blytheville, AR; Mississippi County...",72370
628,83982,zip,59255; MT; Roosevelt County; Poplar,59255
668,89144,zip,"71643; AR; Pine Bluff, AR; Lincoln County; Gould",71643
696,58139,zip,00917; UT; Kane County; San Juan,00917
717,81573,zip,"54129; WI; Appleton, WI; Calumet County; Woodv...",54129
736,91465,zip,76544; TX; Killeen-Temple; Bell County; Belton,76544
753,58056,zip,00705; UT; Kane County; Aibonito,00705
772,88594,zip,"70441; LA; Baton Rouge, LA; Saint Helena Paris...",70441
811,73868,zip,36445; AL; Monroe County; Frisco City,36445
842,92713,zip,78853; TX; Eagle Pass; Maverick County,78853
905,58003,zip,00601; MS; Tippah County; Adjuntas,00601
922,69843,zip,28307; NC; Fayetteville; Cumberland County; Fo...,28307
923,89614,zip,72533; AR; Stone County,72533
927,85736,zip,62865; IL; Franklin County; Christopher,62865
936,86219,zip,63851; MO; Pemiscot County; Hayti,63851
956,88544,zip,"70341; LA; Baton Rouge, LA; Assumption Parish;...",70341
983,65215,zip,"17846; PA; Bloomsburg-Berwick, PA; Columbia Co...",17846

In [33]:
# Create 'state' column by spliting 'region' column and extracting stage
dfRegions['state']=dfRegions['region'].str.split(';',n=1,expand=True)[1].str.split(';',n=1,expand=True)[0].str.strip(' ')
dfRegions.head()

,region_id,region_type,region,zip,state
1392,90431,zip,74502; OK; McAlester; Pittsburg County,74502,OK
1538,90530,zip,74802; OK; Shawnee; Pottawatomie County,74802,OK
1574,90422,zip,74465; OK; Tahlequah; Cherokee County,74465,OK
1593,90100,zip,73624; OK; Washita County; Burns Flat,73624,OK
1629,90532,zip,74818; OK; Seminole County; Seminole,74818,OK

In [35]:
# Define the state that we want to run the analysis
state = 'OK'

# Filter regions dataframe to select state = OK

dfRegions=dfRegions.loc[dfRegions['state']==state,:]
dfRegions.count()

region_id      642
region_type    642
region         642
zip            642
state          642
dtype: int64

In [52]:
print(df.head())
print(dfRegions.head())

  indicator_id  region_id        date     value
0         ZATT       3101  1998-01-31  338849.0
1         ZATT       3101  1998-02-28  342993.0
2         ZATT       3101  1998-03-31  346763.0
3         ZATT       3101  1998-04-30  349356.0
4         ZATT       3101  1998-05-31  351981.0
      region_id region_type                                   region    zip  \
1392      90431         zip   74502; OK; McAlester; Pittsburg County  74502
1538      90530         zip  74802; OK; Shawnee; Pottawatomie County  74802
1574      90422         zip    74465; OK; Tahlequah; Cherokee County  74465
1593      90100         zip    73624; OK; Washita County; Burns Flat  73624
1629      90532         zip     74818; OK; Seminole County; Seminole  74818

     state
1392    OK
1538    OK
1574    OK
1593    OK
1629    OK

In [95]:
print(df.dtypes)
print('-------')
print(dfRegions.dtypes)
print(df.shape)
print(dfRegions.shape)

indicator_id            object
region_id                int64
date            datetime64[ns]
value                  float64
dtype: object
-------
region_id       int64
region_type    object
region         object
zip            object
state          object
dtype: object
(151555917, 4)
(642, 5)

In [61]:
# region id = 89982
#df['date'] = pd.to_datetime(df['date'])
df_temp = df.loc[ (df['region_id'] == 89982) & (df['date'].dt.year ==2013) , :]

          indicator_id  region_id       date          value
21138129          ZSFH      89982 2013-01-31  121193.897120
21175654          ZSFH      89982 2013-02-28  121230.709930
21215737          ZSFH      89982 2013-03-31  121406.291337
21254489          ZSFH      89982 2013-04-30  121711.536766
21291265          ZSFH      89982 2013-05-31  122210.718393
...                ...        ...        ...            ...
149361633         Z4BR      89982 2013-08-31  165718.760858
149375075         Z4BR      89982 2013-09-30  166012.043421
149388522         Z4BR      89982 2013-10-31  166049.126434
149401980         Z4BR      89982 2013-11-30  165958.912690
149415454         Z4BR      89982 2013-12-31  165982.080407

[96 rows x 4 columns]

In [89]:
df_new = df.loc[ (df['region_id'] == 89982) , :]
#len(df_new)


df_new_merge = pd.merge(df_new, dfRegions, on='region_id')
print(len(df_new_merge))
df_new_temp2 = df_new_merge.loc[(df_new_merge['zip'] == '73160') & (df_new_merge['date'].dt.year == 2013), :]
df_new_merge

2610

,indicator_id,region_id,date,value,region_type,region,zip,state
264,ZSFH,89982,2013-01-31,121193.897120,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
265,ZSFH,89982,2013-02-28,121230.709930,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
266,ZSFH,89982,2013-03-31,121406.291337,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
267,ZSFH,89982,2013-04-30,121711.536766,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
268,ZSFH,89982,2013-05-31,122210.718393,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
...,...,...,...,...,...,...,...,...
2487,Z4BR,89982,2013-08-31,165718.760858,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
2488,Z4BR,89982,2013-09-30,166012.043421,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
2489,Z4BR,89982,2013-10-31,166049.126434,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
2490,Z4BR,89982,2013-11-30,165958.912690,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
2491,Z4BR,89982,2013-12-31,165982.080407,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK

In [90]:
df_new1 = df.loc[ (df['indicator_id'] == 'ZALL') , :]
len(df_new1)


#df_new_merge = pd.merge(df_new, dfRegions, on='region_id')
#print(len(df_new_merge))
#df_new_temp2 = df_new_merge.loc[(df_new_merge['zip'] == '73160') & (df_new_merge['date'].dt.year == 2013), :]
#df_new_temp2

22037189

In [121]:
# Merge main zillow dataframe with regions dataframe on region id

dfValue=pd.merge(df,dfRegions,on="region_id", how="inner")

print(dfValue.head())
print(dfValue.count())

print(dfValue.loc[dfValue['region_id'] == 89982, :])

  indicator_id  region_id       date          value region_type  \
0         ZSFH      89925 2000-01-31  104420.426693         zip
1         ZSFH      89925 1996-01-31   84158.000000         zip
2         ZSFH      89925 1996-02-29   84299.000000         zip
3         ZSFH      89925 1996-03-31   84424.000000         zip
4         ZSFH      89925 1996-04-30   84685.000000         zip

                                             region    zip state
0  73099;OK;Oklahoma City, OK;Yukon;Canadian County  73099    OK
1  73099;OK;Oklahoma City, OK;Yukon;Canadian County  73099    OK
2  73099;OK;Oklahoma City, OK;Yukon;Canadian County  73099    OK
3  73099;OK;Oklahoma City, OK;Yukon;Canadian County  73099    OK
4  73099;OK;Oklahoma City, OK;Yukon;Canadian County  73099    OK
indicator_id    1011594
region_id       1011594
date            1011594
value           1011594
region_type     1011594
region          1011594
zip             1011594
state           1011594
dtype: int64
     indicator_id  region_id       date          value region_type  \
5481         ZSFH      89982 2000-01-31   83274.807871         zip
5482         ZSFH      89982 1996-01-31   71613.000000         zip
5483         ZSFH      89982 1996-02-29   71728.000000         zip
5484         ZSFH      89982 1996-03-31   71901.000000         zip
5485         ZSFH      89982 1996-04-30   72243.000000         zip
...           ...        ...        ...            ...         ...
8086         Z4BR      89982 2023-06-30  263661.782270         zip
8087         Z4BR      89982 2023-07-31  264458.246923         zip
8088         Z4BR      89982 2023-08-31  264596.799272         zip
8089         Z4BR      89982 2023-09-30  264166.567680         zip
8090         Z4BR      89982 2023-10-31  263654.782368         zip

                                                 region    zip state
5481  73160;OK;Oklahoma City, OK;Moore;Cleveland County  73160    OK
5482  73160;OK;Oklahoma City, OK;Moore;Cleveland County  73160    OK
5483  73160;OK;Oklahoma City, OK;Moore;Cleveland County  73160    OK
5484  73160;OK;Oklahoma City, OK;Moore;Cleveland County  73160    OK
5485  73160;OK;Oklahoma City, OK;Moore;Cleveland County  73160    OK
...                                                 ...    ...   ...
8086  73160;OK;Oklahoma City, OK;Moore;Cleveland County  73160    OK
8087  73160;OK;Oklahoma City, OK;Moore;Cleveland County  73160    OK
8088  73160;OK;Oklahoma City, OK;Moore;Cleveland County  73160    OK
8089  73160;OK;Oklahoma City, OK;Moore;Cleveland County  73160    OK
8090  73160;OK;Oklahoma City, OK;Moore;Cleveland County  73160    OK

[2610 rows x 8 columns]

In [100]:

#dfValue = dfValue.loc[dfValue['indicator_id'] == 'ZALL', :]
print(len(dfValue))
dfValue.head()

1011594

,indicator_id,region_id,date,value,region_type,region,zip,state
0,ZSFH,89925,2000-01-31,104420.426693,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
1,ZSFH,89925,1996-01-31,84158.000000,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
2,ZSFH,89925,1996-02-29,84299.000000,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
3,ZSFH,89925,1996-03-31,84424.000000,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
4,ZSFH,89925,1996-04-30,84685.000000,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK

In [122]:
# zip = 73160, year = 2013
#dfValue['date'] = pd.to_datetime(dfValue['date'])
#dfValue_temp2 = dfValue.loc[(dfValue['zip'] == '73160') & (dfValue['date'].dt.year == 2013), :]
#dfValue_temp2 = dfValue.loc[(dfValue['region_id'] == 89982) & (dfValue['date'].dt.year == 2013), :]
#dfValue_temp2

,indicator_id,region_id,date,value,region_type,region,zip,state
5745,ZSFH,89982,2013-01-31,121193.897120,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
5746,ZSFH,89982,2013-02-28,121230.709930,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
5747,ZSFH,89982,2013-03-31,121406.291337,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
5748,ZSFH,89982,2013-04-30,121711.536766,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
5749,ZSFH,89982,2013-05-31,122210.718393,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
...,...,...,...,...,...,...,...,...
7968,Z4BR,89982,2013-08-31,165718.760858,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
7969,Z4BR,89982,2013-09-30,166012.043421,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
7970,Z4BR,89982,2013-10-31,166049.126434,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
7971,Z4BR,89982,2013-11-30,165958.912690,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
7972,Z4BR,89982,2013-12-31,165982.080407,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK

In [123]:
df.count()

indicator_id    151555917
region_id       151555917
date            151555917
value           151555917
dtype: int64

In [124]:
# Define variable to filter the dataset by date
date_filter = '2012-12-31'


# Filter for last 10 years of data

dfValue=dfValue.loc[dfValue['date']>date_filter,:]
dfValue.head()

,indicator_id,region_id,date,value,region_type,region,zip,state
62,ZCON,89925,2021-04-30,171076.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
63,ZCON,89925,2021-03-31,170847.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
65,ZCON,89925,2020-06-30,166465.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
69,Z1BR,89925,2020-06-30,109840.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
78,RSNA,89925,2020-06-30,1267.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK

In [125]:
# Check the datatypes 
dfValue.dtypes

indicator_id            object
region_id                int64
date            datetime64[ns]
value                  float64
region_type             object
region                  object
zip                     object
state                   object
dtype: object

In [126]:
# Convert 'date' column to date type

dfValue['date'] = pd.to_datetime(dfValue['date'])

dfValue.dtypes

indicator_id            object
region_id                int64
date            datetime64[ns]
value                  float64
region_type             object
region                  object
zip                     object
state                   object
dtype: object

In [127]:

dfValue=dfValue.loc[dfValue['date']>date_filter,:]
dfValue.head(25)

,indicator_id,region_id,date,value,region_type,region,zip,state
62,ZCON,89925,2021-04-30,171076.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
63,ZCON,89925,2021-03-31,170847.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
65,ZCON,89925,2020-06-30,166465.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
69,Z1BR,89925,2020-06-30,109840.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
78,RSNA,89925,2020-06-30,1267.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
79,RSSA,89925,2020-06-30,1222.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
80,ZCON,89925,2020-10-31,171363.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
82,Z1BR,89925,2021-04-30,105393.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
83,Z1BR,89925,2021-03-31,104441.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
84,Z1BR,89925,2020-10-31,105057.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
85,ZCON,89925,2021-07-31,184690.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
86,ZCON,89925,2021-06-30,182104.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
87,ZCON,89925,2021-05-31,180521.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
88,RSNA,89925,2020-10-31,1243.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
89,RSSA,89925,2020-10-31,1232.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
90,RSNA,89925,2021-05-31,1334.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
91,RSNA,89925,2021-04-30,1312.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
92,RSNA,89925,2021-03-31,1278.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
93,RSSA,89925,2021-05-31,1301.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
94,RSSA,89925,2021-04-30,1295.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
95,RSSA,89925,2021-03-31,1288.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
96,ZCON,89925,2020-08-31,168946.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
97,Z1BR,89925,2020-08-31,105581.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
98,ZCON,89925,2020-12-31,169969.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
99,RSNA,89925,2020-08-31,1229.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK

In [128]:
print(dfValue['date'].min())
print(dfValue['date'].max())
print(dfValue.count())

2013-01-31 00:00:00
2023-10-31 00:00:00
indicator_id    446992
region_id       446992
date            446992
value           446992
region_type     446992
region          446992
zip             446992
state           446992
dtype: int64

In [129]:
dfValue['date'].unique()

<DatetimeArray>
['2021-04-30 00:00:00', '2021-03-31 00:00:00', '2020-06-30 00:00:00',
 '2020-10-31 00:00:00', '2021-07-31 00:00:00', '2021-06-30 00:00:00',
 '2021-05-31 00:00:00', '2020-08-31 00:00:00', '2020-12-31 00:00:00',
 '2020-05-31 00:00:00',
 ...
 '2023-01-31 00:00:00', '2023-02-28 00:00:00', '2023-03-31 00:00:00',
 '2023-04-30 00:00:00', '2023-05-31 00:00:00', '2023-06-30 00:00:00',
 '2023-07-31 00:00:00', '2023-08-31 00:00:00', '2023-09-30 00:00:00',
 '2023-10-31 00:00:00']
Length: 130, dtype: datetime64[ns]

In [130]:
dfValue['zip'].unique()

array(['73099', '74012', '73160', '73013', '74133', '73505', '73072',
       '73120', '73071', '74055', '73034', '73170', '73112', '74136',
       '73401', '74014', '73110', '73012', '73159', '74008', '74066',
       '74074', '74063', '74403', '73119', '74501', '74820', '74011',
       '74464', '73162', '74017', '73703', '74006', '73127', '73069',
       '74137', '73132', '74105', '74075', '73701', '74701', '73533',
       '73107', '73020', '73044', '74115', '73064', '74134', '73003',
       '74037', '74801', '74804', '73507', '74021', '74112', '73109',
       '73129', '74019', '73130', '73521', '73135', '73501', '74107',
       '73115', '73018', '74135', '73008', '73036', '73114', '74601',
       '74129', '74145', '73010', '73139', '74354', '74127', '74114',
       '74146', '74401', '73801', '74361', '74070', '74447', '74106',
       '74110', '73142', '74955', '73118', '73025', '74429', '73096',
       '74344', '73106', '73108', '74003', '73068', '73644', '73089',
       '74467', '74128', '73122', '74948', '74953', '74023', '74604',
       '74301', '74033', '74868', '74104', '73111', '74010', '73045',
       '73026', '74960', '73116', '74745', '74437', '73165', '73078',
       '73055', '74126', '74015', '74873', '73065', '73051', '73080',
       '74132', '74432', '74728', '74434', '74851', '74857', '73601',
       '73446', '73075', '74462', '74743', '74834', '73750', '74346',
       '73117', '73049', '73086', '74036', '74331', '74020', '73149',
       '74426', '74631', '73662', '74959', '73077', '74047', '73052',
       '73179', '74044', '73527', '74578', '73448', '74352', '73439',
       '74859', '74884', '74016', '73134', '73141', '74436', '73538',
       '74059', '74108', '73084', '74881', '74120', '74421', '74441',
       '73128', '74056', '73030', '74937', '73150', '74962', '73103',
       '74048', '74073', '73105', '74730', '74053', '74035', '73007',
       '74131', '74337', '73131', '73047', '74079', '74029', '73460',
       '74855', '74965', '73054', '74864', '73006', '73541', '73529',
       '74966', '74365', '74954', '73463', '73742', '74451', '74370',
       '73169', '73098', '74039', '73772', '74454', '74902', '74080',
       '74116', '74872', '73028', '73173', '74571', '73443', '73737',
       '73572', '74058', '74647', '74764', '73093', '74547', '74932',
       '73104', '74653', '74030', '74343', '74038', '74733', '74130',
       '73121', '74330', '74849', '73449', '74363', '73082', '74085',
       '73762', '74729', '74119', '74445', '74871', '73059', '74032',
       '74342', '74840', '74941', '74825', '74469', '73027', '74455',
       '73438', '74956', '74364', '73433', '74860', '74940', '74538',
       '74435', '73573', '74002', '74865', '74471', '74561', '74450',
       '74735', '73048', '74930', '73067', '73543', '74347', '73669',
       '73057', '73852', '74964', '74041', '73754', '74369', '73014',
       '73456', '74727', '74637', '74022', '73773', '73095', '74880',
       '73061', '74878', '74931', '74339', '73526', '73015', '74854',
       '73074', '74740', '73038', '74901', '74081', '74726', '74051',
       '74332', '74563', '74731', '74442', '74366', '74422', '74734',
       '73004', '74028', '74570', '73017', '74741', '74072', '73552',
       '73450', '74852', '74856', '74723', '73458', '73447', '73491',
       '74766', '73016', '73639', '74062', '73090', '74553', '73009',
       '73645', '74425', '74427', '73763', '73759', '73481', '74552',
       '73729', '74652', '74826', '74936', '73040', '74824', '73151',
       '73459', '73432', '73430', '74333', '73768', '74957', '73042',
       '73092', '73453', '73738', '74875', '74457', '74867', '74831',
       '73724', '73537', '73461', '73532', '74470', '73002', '74939',
       '73753', '73718', '74650', '74869', '73434', '73548', '73766',
       '73734', '74832', '74367', '74632', '73736', '73528', '73857',
       '73735', '74554', '73560', '74574', '74641', '74428', '74736',
       '73760', '74833', '73755', '73747', '74951', '74026', '74546',
       '73567', '74944', '73102', '74502', '74802', '73624', '74818',
       '74103', '73534', '74423', '74052', '74562', '74349', '74340',
       '74446', '74431', '73053', '74565', '74560', '74866', '74054',
       '74430', '73931', '73455', '74738', '73627', '74557', '74060',
       '74963', '73559', '74754', '74084', '73625', '74720', '74042',
       '73442', '73031', '74633', '74460', '73530', '73056', '74845',
       '73838', '74558', '73853', '73540', '73440', '74359', '73050',
       '73944', '73646', '74522', '74945', '74844', '74358', '74543',
       '73058', '73666', '74045', '73041', '74456', '74949', '73673',
       '74640', '74001', '74750', '73033', '73756', '73549', '74540',
       '73835', '74830', '73622', '73444', '74534', '74724', '74843',
       '73720', '73441', '73758', '73744', '74463', '73727', '74577',
       '74722', '73544', '74646', '74942', '73731', '74755', '74760',
       '73539', '74947', '73733', '74636', '74837', '74549', '73556',
       '74528', '73032', '74567', '74082', '73435', '73487', '74576',
       '74530', '74034', '73437', '73043', '73555', '73757', '73855',
       '74468', '73659', '74438', '73743', '73764', '73851', '73901',
       '74935', '74721', '73436', '74545', '74761', '73719', '74458',
       '74836', '73571', '74559', '73520', '74753', '74117', '73551',
       '14520', '73668', '73553', '73488', '73770', '74459', '73019',
       '73079', '73844', '73960', '73942', '74525', '73005', '73717',
       '74523', '74848', '73542', '74338', '73651', '73554', '73632',
       '73945', '73550', '74061', '73728', '73932', '73848', '73858',
       '73566', '73950', '73860', '73949', '73663', '73568', '73062',
       '73547', '74883', '74083', '73951', '73570', '73655', '73647',
       '73843', '74756', '73063', '73938', '73569', '73749', '73722',
       '74350', '73667', '74536', '73859', '74759', '73939', '73626',
       '73546', '73620', '73664', '74531', '74555', '74027', '74533',
       '74572', '74839', '73641', '74569', '73562', '74651', '74452',
       '74748', '73730', '73073', '74472', '73840', '74643', '73842',
       '73771', '73557', '74829', '74630', '73716', '74644', '73761',
       '74827', '73661', '73841', '73531', '73011', '74850', '73654',
       '73739', '73021', '73834', '73832', '73029', '73565', '73650',
       '73024', '73741', '73564', '73726', '73658', '73066', '74360',
       '73628', '74465', '74444', '73933', '73947'], dtype=object)

In [132]:
# zip = 73160, year = 2013
dfValue_temp2 = dfValue.loc[(dfValue['zip'] == '73160') & (dfValue['date'].dt.year == 2013), :]
dfValue_temp2

,indicator_id,region_id,date,value,region_type,region,zip,state
5745,ZSFH,89982,2013-01-31,121193.897120,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
5746,ZSFH,89982,2013-02-28,121230.709930,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
5747,ZSFH,89982,2013-03-31,121406.291337,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
5748,ZSFH,89982,2013-04-30,121711.536766,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
5749,ZSFH,89982,2013-05-31,122210.718393,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
...,...,...,...,...,...,...,...,...
7968,Z4BR,89982,2013-08-31,165718.760858,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
7969,Z4BR,89982,2013-09-30,166012.043421,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
7970,Z4BR,89982,2013-10-31,166049.126434,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
7971,Z4BR,89982,2013-11-30,165958.912690,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
7972,Z4BR,89982,2013-12-31,165982.080407,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK

In [133]:
dfValue_2013 = dfValue.loc[dfValue['date'].dt.year == 2013,:]
dfValue_2013.head()

,indicator_id,region_id,date,value,region_type,region,zip,state
265,ZSFH,89925,2013-01-31,149105.931624,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
266,ZSFH,89925,2013-02-28,149209.868245,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
267,ZSFH,89925,2013-03-31,149265.074753,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
268,ZSFH,89925,2013-04-30,149314.582777,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
269,ZSFH,89925,2013-05-31,149744.921849,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK

In [134]:
home_value_by_year = []
for i in range(2013, 2023):
    dfValue_temp = dfValue.loc[dfValue['date'].dt.year == i,:]
    home_value_by_year.append(dfValue_temp.groupby("zip")["value"].mean())

In [135]:
home_value_by_year[0]

zip
14520    108917.555556
73002     65000.888659
73003    164601.522788
73004    116987.336935
73005     48881.862620
             ...
74962     83756.874611
74963     60267.729167
74964     83274.804007
74965     94853.422726
74966     97997.327755
Name: value, Length: 589, dtype: float64

In [136]:
home_value_by_zip = pd.DataFrame(dfValue['zip'].unique())

home_value_by_zip = home_value_by_zip.rename(columns= {0 : 'zip'})

home_value_by_zip = home_value_by_zip.set_index('zip')

home_value_by_zip

Empty DataFrame
Columns: []
Index: [73099, 74012, 73160, 73013, 74133, 73505, 73072, 73120, 73071, 74055, 73034, 73170, 73112, 74136, 73401, 74014, 73110, 73012, 73159, 74008, 74066, 74074, 74063, 74403, 73119, 74501, 74820, 74011, 74464, 73162, 74017, 73703, 74006, 73127, 73069, 74137, 73132, 74105, 74075, 73701, 74701, 73533, 73107, 73020, 73044, 74115, 73064, 74134, 73003, 74037, 74801, 74804, 73507, 74021, 74112, 73109, 73129, 74019, 73130, 73521, 73135, 73501, 74107, 73115, 73018, 74135, 73008, 73036, 73114, 74601, 74129, 74145, 73010, 73139, 74354, 74127, 74114, 74146, 74401, 73801, 74361, 74070, 74447, 74106, 74110, 73142, 74955, 73118, 73025, 74429, 73096, 74344, 73106, 73108, 74003, 73068, 73644, 73089, 74467, 74128, ...]

[642 rows x 0 columns]

In [137]:
year = 2013
for home_value in home_value_by_year:
    print(home_value)
    home_value_by_zip[year] = home_value
    year += 1

zip
14520    108917.555556
73002     65000.888659
73003    164601.522788
73004    116987.336935
73005     48881.862620
             ...
74962     83756.874611
74963     60267.729167
74964     83274.804007
74965     94853.422726
74966     97997.327755
Name: value, Length: 589, dtype: float64
zip
14520    107927.611111
73002     67372.596432
73003    138015.036670
73004    123254.836006
73005     54697.558761
             ...
74962     85419.689630
74963     62611.125000
74964     85319.169279
74965     98978.932387
74966     99276.402508
Name: value, Length: 596, dtype: float64
zip
14520    108471.277778
73002     72614.537870
73003    142135.526120
73004    129345.796186
73005     57352.715468
             ...
74962     89106.046480
74963     65604.583333
74964     88126.461965
74965    101935.249111
74966    102427.972311
Name: value, Length: 614, dtype: float64
zip
14520    115125.666667
73002     72987.460205
73003    144470.875468
73004    132806.725509
73005     60665.387397
             ...
74962     96958.399026
74963     65677.250000
74964     93237.802815
74965    105290.799718
74966    106640.136334
Name: value, Length: 627, dtype: float64
zip
14520    127206.805556
73002     74578.188275
73003    145086.793118
73004    138418.622072
73005     59436.753497
             ...
74962    101500.789029
74963     70793.000000
74964     87431.624307
74965    105352.969640
74966    109827.835679
Name: value, Length: 631, dtype: float64
zip
14520    133951.944444
73002     72279.841070
73003    147431.202127
73004    144268.326608
73005     59585.673575
             ...
74962    108539.853065
74963     78124.270833
74964     92940.091760
74965    109515.293950
74966    114332.249175
Name: value, Length: 633, dtype: float64
zip
14520    137211.027778
73002     77000.347600
73003    151326.300764
73004    149991.554297
73005     57964.522021
             ...
74962    113985.795685
74963     84028.354167
74964     96764.632313
74965    111510.363674
74966    119042.976709
Name: value, Length: 634, dtype: float64
zip
14520    142947.666667
73002     88980.765573
73003    158217.024448
73004    154998.285837
73005     57459.644914
             ...
74962    126062.903380
74963     87261.083333
74964    102243.207361
74965    110153.691237
74966    128994.622040
Name: value, Length: 639, dtype: float64
zip
14520    174742.000000
73002    114839.119481
73003    175872.658631
73004    176956.909184
73005     61022.888328
             ...
74962    161455.267251
74963     90437.529412
74964    112776.550924
74965    126199.195264
74966    148590.134764
Name: value, Length: 639, dtype: float64
zip
14520    186118.833333
73002    123115.345515
73003    234357.175119
73004    188969.209167
73005     73320.533894
             ...
74962    194598.535065
74963    125541.965504
74964    144084.596330
74965    158108.148196
74966    183924.465307
Name: value, Length: 634, dtype: float64

In [138]:
home_value_by_zip

,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
zip,,,,,,,,,,
73099,155176.622687,129842.666687,132715.925026,133550.884448,134117.068635,138180.372671,142766.482830,147977.168873,184376.668506,249334.744303
74012,128120.849971,105047.682951,108670.589917,110855.133065,114615.482871,117535.539968,119978.989418,129149.791920,147696.690680,193139.268019
73160,121937.988275,126500.620266,133284.136294,137178.405707,141707.909579,146436.815836,152133.654779,139162.166773,162488.924886,209895.031126
73013,190923.891170,157400.386958,163458.957807,165991.161794,167311.359765,170025.030126,174709.024902,181487.209679,226782.426033,307615.004243
74133,152763.302754,155125.007232,158298.211452,160783.665116,165577.754922,166180.771622,170809.443511,182187.363114,203815.564674,240382.097548
...,...,...,...,...,...,...,...,...,...,...
73628,NaN,NaN,NaN,128247.910324,120373.757907,113054.056650,110970.154188,121268.610378,126987.236706,135149.018988
74465,NaN,NaN,72520.666667,76865.083333,82887.083333,81392.166667,85643.750000,80261.000000,NaN,NaN
74444,NaN,NaN,96846.416667,104191.250000,118927.250000,130563.750000,126609.416667,134078.166667,NaN,NaN
73933,NaN,NaN,NaN,44301.488777,44139.574513,46274.331375,50289.899401,55048.452154,63855.065984,69689.173173
73947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54904.059985,54190.602114

In [139]:
home_value_by_zip.shape

(642, 10)

In [191]:
home_value_by_zip.isna().sum()

2013    0
2014    0
2015    0
2016    0
2017    0
2018    0
2019    0
2020    0
2021    0
2022    0
dtype: int64

In [186]:
# Dropped zip codes for missing data
home_value_by_zip = home_value_by_zip.dropna()
#home_value_by_zip = home_value_by_zip[home_value_by_zip.index.notnull()]

In [192]:
home_value_by_zip.isna().sum()

home_value_by_zip_1 = home_value_by_zip.loc[home_value_by_zip.index=='73628', :]

print(home_value_by_zip_1)

Empty DataFrame
Columns: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]
Index: []

In [188]:
home_value_by_zip

,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
zip,,,,,,,,,,
73099,155176.622687,129842.666687,132715.925026,133550.884448,134117.068635,138180.372671,142766.482830,147977.168873,184376.668506,249334.744303
74012,128120.849971,105047.682951,108670.589917,110855.133065,114615.482871,117535.539968,119978.989418,129149.791920,147696.690680,193139.268019
73160,121937.988275,126500.620266,133284.136294,137178.405707,141707.909579,146436.815836,152133.654779,139162.166773,162488.924886,209895.031126
73013,190923.891170,157400.386958,163458.957807,165991.161794,167311.359765,170025.030126,174709.024902,181487.209679,226782.426033,307615.004243
74133,152763.302754,155125.007232,158298.211452,160783.665116,165577.754922,166180.771622,170809.443511,182187.363114,203815.564674,240382.097548
...,...,...,...,...,...,...,...,...,...,...
73832,72024.712063,73900.982283,77585.444580,80001.517939,79679.054712,81661.247355,85331.448720,90996.391939,106521.420219,112534.172528
73029,74711.737446,85694.038526,85993.673488,80781.465319,82559.539617,83830.318571,80578.451565,82393.470827,81746.366497,90234.524545
73565,36227.809008,38761.284289,39546.846887,40720.491403,41044.317063,42750.029848,45970.807324,50411.187198,49209.324481,52267.276111
73564,53865.443975,56376.908803,59984.432227,61725.031628,60819.804127,66526.067194,69260.715747,73938.917790,67765.924407,67285.271537
73726,31628.500000,33682.833333,35191.321429,48782.716154,47516.016113,49632.622692,53270.704572,58472.450672,71046.321676,74269.909608

In [194]:

home_value_diff_by_zip = pd.DataFrame(home_value_by_zip.index)

home_value_diff_by_zip = home_value_diff_by_zip.rename(columns= {0 : 'zip'})

home_value_diff_by_zip = home_value_diff_by_zip.set_index('zip')

home_value_diff_by_zip

Empty DataFrame
Columns: []
Index: [73099, 74012, 73160, 73013, 74133, 73505, 73072, 73120, 73071, 74055, 73034, 73170, 73112, 74136, 73401, 74014, 73110, 73012, 73159, 74008, 74066, 74074, 74063, 74403, 73119, 74501, 74820, 74011, 74464, 73162, 74017, 73703, 74006, 73127, 73069, 74137, 73132, 74105, 74075, 73701, 74701, 73533, 73107, 73020, 73044, 74115, 73064, 74134, 73003, 74037, 74801, 74804, 73507, 74021, 74112, 73109, 73129, 74019, 73130, 73521, 73135, 73501, 74107, 73115, 73018, 74135, 73008, 73036, 73114, 74601, 74129, 74145, 73010, 73139, 74354, 74127, 74114, 74146, 74401, 73801, 74361, 74070, 74447, 74106, 74110, 73142, 74955, 73118, 73025, 74429, 73096, 74344, 73106, 73108, 74003, 73068, 73644, 73089, 74467, 74128, ...]

[586 rows x 0 columns]

In [195]:
start_year = 2014
end_year = 2023
for i in range(2014, 2023):
    home_value_diff_by_zip[i] = (home_value_by_zip[i] - home_value_by_zip[i -1]) / home_value_by_zip[i-1]

home_value_diff_by_zip

,2014,2015,2016,2017,2018,2019,2020,2021,2022
zip,,,,,,,,,
73099,-0.163259,0.022129,0.006291,0.004239,0.030297,0.033189,0.036498,0.245981,0.352312
74012,-0.180089,0.034488,0.020102,0.033921,0.025477,0.020789,0.076437,0.143608,0.307675
73160,0.037418,0.053624,0.029218,0.033019,0.033371,0.038903,-0.085264,0.167623,0.291750
73013,-0.175586,0.038491,0.015491,0.007953,0.016219,0.027549,0.038797,0.249578,0.356432
74133,0.015460,0.020456,0.015701,0.029817,0.003642,0.027853,0.066612,0.118714,0.179410
...,...,...,...,...,...,...,...,...,...
73832,0.026050,0.049857,0.031141,-0.004031,0.024877,0.044944,0.066388,0.170611,0.056446
73029,0.146996,0.003497,-0.060612,0.022011,0.015392,-0.038791,0.022525,-0.007854,0.103835
73565,0.069932,0.020267,0.029677,0.007952,0.041558,0.075340,0.096591,-0.023841,0.062142
73564,0.046625,0.063989,0.029018,-0.014665,0.093822,0.041106,0.067545,-0.083488,-0.007093
73726,0.064952,0.044785,0.386214,-0.025966,0.044545,0.073300,0.097647,0.215039,0.045373

In [157]:
home_value_diff_by_zip.isna().sum()

2014    56
2015    56
2016    56
2017    56
2018    56
2019    56
2020    56
2021    56
2022    56
dtype: int64

In [171]:
# zip = 73947
home_value_by_zip_1 = home_value_by_zip.loc[home_value_by_zip.index=='73628', :]

print(home_value_by_zip_1)

Empty DataFrame
Columns: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]
Index: []

In [162]:
home_value_by_zip.dtypes

2013    float64
2014    float64
2015    float64
2016    float64
2017    float64
2018    float64
2019    float64
2020    float64
2021    float64
2022    float64
dtype: object

In [185]:
dfValue_lookup_73628 = dfValue.loc[ (dfValue['zip'] == '73628') & (dfValue['date'].dt.year == 2022), :]
print(dfValue_lookup_73628.shape)
dfValue_lookup_73628

(38, 8)

,indicator_id,region_id,date,value,region_type,region,zip,state
1010769,ZSFH,90104,2022-01-31,123021.360192,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010770,ZSFH,90104,2022-02-28,125529.354455,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010771,ZSFH,90104,2022-03-31,128089.269982,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010772,ZSFH,90104,2022-04-30,129706.910824,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010773,ZSFH,90104,2022-05-31,131009.472572,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010774,ZSFH,90104,2022-06-30,132689.830192,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010775,ZSFH,90104,2022-07-31,134533.617021,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010776,ZSFH,90104,2022-08-31,135690.288151,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010777,ZSFH,90104,2022-09-30,135849.263991,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010778,ZSFH,90104,2022-10-31,135592.928420,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010779,ZSFH,90104,2022-11-30,135236.234290,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010780,ZSFH,90104,2022-12-31,134356.007841,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010792,Z2BR,90104,2022-11-30,57295.791180,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010797,Z2BR,90104,2022-12-31,46955.602760,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010870,ZALL,90104,2022-01-31,125668.547283,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010871,ZALL,90104,2022-02-28,128227.857867,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010872,ZALL,90104,2022-03-31,130849.679316,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010873,ZALL,90104,2022-04-30,132508.425207,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010874,ZALL,90104,2022-05-31,133828.616758,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010875,ZALL,90104,2022-06-30,135515.881172,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010876,ZALL,90104,2022-07-31,137342.585041,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010877,ZALL,90104,2022-08-31,138442.285525,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010878,ZALL,90104,2022-09-30,138465.553096,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010879,ZALL,90104,2022-10-31,138047.650149,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010880,ZALL,90104,2022-11-30,137548.953653,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010881,ZALL,90104,2022-12-31,136587.921299,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010963,Z3BR,90104,2022-01-31,142482.815199,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010964,Z3BR,90104,2022-02-28,145537.991393,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010965,Z3BR,90104,2022-03-31,148980.876515,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010966,Z3BR,90104,2022-04-30,151291.441662,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010967,Z3BR,90104,2022-05-31,152996.541737,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010968,Z3BR,90104,2022-06-30,154823.344614,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010969,Z3BR,90104,2022-07-31,156599.578011,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010970,Z3BR,90104,2022-08-31,157600.924652,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010971,Z3BR,90104,2022-09-30,157551.932840,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010972,Z3BR,90104,2022-10-31,157164.652034,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010973,Z3BR,90104,2022-11-30,156577.685660,zip,73628;OK;nan;nan;Roger Mills County,73628,OK
1010974,Z3BR,90104,2022-12-31,155465.048980,zip,73628;OK;nan;nan;Roger Mills County,73628,OK

In [197]:
home_value_diff_by_zip_1 = home_value_diff_by_zip.loc[home_value_diff_by_zip.index == '74112', :]
home_value_diff_by_zip_1

,2014,2015,2016,2017,2018,2019,2020,2021,2022
zip,,,,,,,,,
74112,-0.128968,-0.028039,0.030837,0.043151,0.024769,0.050286,0.110614,0.349858,0.240482

KeyError: '2022'

In [213]:
home_value_by_year = home_value_diff_by_zip.T

home_value_by_year
max_home_values = []

for index, row in home_value_by_year.iterrows():
     max_home_values.append({ 'year' : index, 'zip' : row.idxmax(), 'return' : row.max()})

max_returns_per_year = pd.DataFrame(max_home_values)

max_returns_per_year

   year    zip    return
0  2014  73053  0.420868
1  2015  73668  0.778812
2  2016  73663  0.556639
3  2017  74756  0.496038
4  2018  73569  1.047591
5  2019  74724  0.251255
6  2020  74753  0.407259
7  2021  74760  0.572243
8  2022  74534  0.561497