In [2]:
import pandas as pd
import numpy as np

#dfSample = pd.read_csv("../Resources/ZILLOW-DATA.csv")
df = pd.read_csv("../Resources/ZILLOW_DATA.csv")

In [3]:
dfRegions = pd.read_csv("../Resources/ZILLOW_REGIONS.csv")
print("\nThere are no missing regions:\n",dfRegions.info())
print("\nHere's the count of unique region columns:\n",dfRegions.nunique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89305 entries, 0 to 89304
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   region_id    89305 non-null  int64
 1   region_type  89305 non-null  object
 2   region       89305 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB

There are no missing regions:
 None

Here's the count of unique region columns:
 region_id      89305
region_type        6
region         89295
dtype: int64

In [4]:
print("Here are the top 5 rows of the dataframe:\n",df.head())
print("\nHere are the columns with missing data:\n",df.info())
print("\nHere's the count of unique values in the dataset:\n",df.nunique())

Here are the top 5 rows of the dataframe:
   indicator_id  region_id        date     value
0         ZATT       3101  1998-01-31  338849.0
1         ZATT       3101  1998-02-28  342993.0
2         ZATT       3101  1998-03-31  346763.0
3         ZATT       3101  1998-04-30  349356.0
4         ZATT       3101  1998-05-31  351981.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151555917 entries, 0 to 151555916
Data columns (total 4 columns):
 #   Column        Dtype
---  ------        -----
 0   indicator_id  object
 1   region_id     int64
 2   date          object
 3   value         float64
dtypes: float64(1), int64(1), object(2)
memory usage: 4.5+ GB

Here are the columns with missing data:
 None

Here's the count of unique values in the dataset:
 indicator_id          56
region_id          89305
date                1129
value           82293706
dtype: int64

In [5]:
print("There are no null values:\n",df.isnull().sum())
print("\nHere are the row and column counts for the data:",df.shape)

There are no null values:
 indicator_id    0
region_id       0
date            0
value           0
dtype: int64

Here are the row and column counts for the data: (151555917, 4)

In [6]:
print(df['date'].min())
print(df['date'].max())

1996-01-31
2023-11-04

In [7]:
dfRegions.head()

   region_id region_type                                             region
0     394401       metro                                      Boone, IA; IA
1     274772       neigh  Northeast Dallas; TX; Dallas-Fort Worth-Arling...
2     273698       neigh  Far North; TX; Dallas-Fort Worth-Arlington, TX...
3     275473       neigh  Southeast Dallas; TX; Dallas-Fort Worth-Arling...
4          9       state                                         California

In [8]:
dfRegions=dfRegions.loc[dfRegions['region_type']=='zip',:]
dfRegions['zip']=dfRegions['region'].str.split(';',n=1,expand=True)[0]
dfRegions.head(25)

,region_id,region_type,region,zip
9,58011,zip,00612; MI; Crawford County; Frederic,00612
13,58051,zip,00693; PA; Pittsburgh; Westmoreland County; Gr...,00693
17,58109,zip,00795; AL; Auburn-Opelika; Lee County; Juana Diaz,00795
23,58129,zip,00907; AR; Forrest City; Saint Francis County;...,00907
91,92526,zip,"78584; TX; Rio Grande City-Roma, TX; Starr County",78584
265,58004,zip,00602; AL; Auburn-Opelika; Lee County; Auburn,00602
269,62298,zip,"11951; NY; New York-Newark-Jersey City, NY-NJ-...",11951
455,94610,zip,84627; UT; Sanpete County; Ephraim,84627
534,89510,zip,"72370; AR; Blytheville, AR; Mississippi County...",72370
628,83982,zip,59255; MT; Roosevelt County; Poplar,59255
668,89144,zip,"71643; AR; Pine Bluff, AR; Lincoln County; Gould",71643
696,58139,zip,00917; UT; Kane County; San Juan,00917
717,81573,zip,"54129; WI; Appleton, WI; Calumet County; Woodv...",54129
736,91465,zip,76544; TX; Killeen-Temple; Bell County; Belton,76544
753,58056,zip,00705; UT; Kane County; Aibonito,00705
772,88594,zip,"70441; LA; Baton Rouge, LA; Saint Helena Paris...",70441
811,73868,zip,36445; AL; Monroe County; Frisco City,36445
842,92713,zip,78853; TX; Eagle Pass; Maverick County,78853
905,58003,zip,00601; MS; Tippah County; Adjuntas,00601
922,69843,zip,28307; NC; Fayetteville; Cumberland County; Fo...,28307
923,89614,zip,72533; AR; Stone County,72533
927,85736,zip,62865; IL; Franklin County; Christopher,62865
936,86219,zip,63851; MO; Pemiscot County; Hayti,63851
956,88544,zip,"70341; LA; Baton Rouge, LA; Assumption Parish;...",70341
983,65215,zip,"17846; PA; Bloomsburg-Berwick, PA; Columbia Co...",17846

In [9]:
dfRegions['state']=dfRegions['region'].str.split(';',n=1,expand=True)[1].str.split(';',n=1,expand=True)[0].str.strip(' ')
dfRegions.head()

,region_id,region_type,region,zip,state
9,58011,zip,00612; MI; Crawford County; Frederic,00612,MI
13,58051,zip,00693; PA; Pittsburgh; Westmoreland County; Gr...,00693,PA
17,58109,zip,00795; AL; Auburn-Opelika; Lee County; Juana Diaz,00795,AL
23,58129,zip,00907; AR; Forrest City; Saint Francis County;...,00907,AR
91,92526,zip,"78584; TX; Rio Grande City-Roma, TX; Starr County",78584,TX

In [10]:
dfRegions=dfRegions.loc[dfRegions['state']=='OK',:]
dfRegions.count()

region_id      642
region_type    642
region         642
zip            642
state          642
dtype: int64

In [11]:
dfValue=pd.merge(df,dfRegions,on="region_id")
print(dfValue.head())
print(dfValue.count())

  indicator_id  region_id        date          value region_type  \
0         ZSFH      89925  2000-01-31  104420.426693         zip
1         ZSFH      89925  1996-01-31   84158.000000         zip
2         ZSFH      89925  1996-02-29   84299.000000         zip
3         ZSFH      89925  1996-03-31   84424.000000         zip
4         ZSFH      89925  1996-04-30   84685.000000         zip

                                             region    zip state
0  73099;OK;Oklahoma City, OK;Yukon;Canadian County  73099    OK
1  73099;OK;Oklahoma City, OK;Yukon;Canadian County  73099    OK
2  73099;OK;Oklahoma City, OK;Yukon;Canadian County  73099    OK
3  73099;OK;Oklahoma City, OK;Yukon;Canadian County  73099    OK
4  73099;OK;Oklahoma City, OK;Yukon;Canadian County  73099    OK
indicator_id    1011594
region_id       1011594
date            1011594
value           1011594
region_type     1011594
region          1011594
zip             1011594
state           1011594
dtype: int64

In [12]:
df.count()

indicator_id    151555917
region_id       151555917
date            151555917
value           151555917
dtype: int64

In [13]:
dfValue=dfValue.loc[dfValue['date']>'2012-12-31',:]
dfValue.head()

,indicator_id,region_id,date,value,region_type,region,zip,state
62,ZCON,89925,2021-04-30,171076.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
63,ZCON,89925,2021-03-31,170847.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
65,ZCON,89925,2020-06-30,166465.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
69,Z1BR,89925,2020-06-30,109840.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
78,RSNA,89925,2020-06-30,1267.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK

In [14]:
dfValue.dtypes

indicator_id     object
region_id         int64
date             object
value           float64
region_type      object
region           object
zip              object
state            object
dtype: object

In [15]:
dfValue['date'] = pd.to_datetime(df['date'])
dfValue.dtypes

indicator_id            object
region_id                int64
date            datetime64[ns]
value                  float64
region_type             object
region                  object
zip                     object
state                   object
dtype: object

In [16]:
dfValue=dfValue.loc[dfValue['date']>'2012-12-31',:]
dfValue.head(25)

,indicator_id,region_id,date,value,region_type,region,zip,state
3833,Z1BR,90226,2013-11-30,63085.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK
3834,Z1BR,90226,2013-11-30,63557.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK
3835,Z1BR,90226,2013-11-30,64380.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK
3836,Z1BR,90226,2013-11-30,65297.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK
3837,Z1BR,90226,2013-11-30,65842.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK
3838,Z1BR,90226,2013-11-30,65928.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK
3839,Z1BR,90226,2013-11-30,66124.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK
3840,Z1BR,90226,2013-11-30,66184.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK
3841,Z1BR,90226,2013-12-31,66341.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK
3842,Z1BR,90226,2013-12-31,67242.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK
3843,Z1BR,90226,2013-12-31,67993.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK
3844,Z1BR,90226,2013-12-31,67968.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK
3845,Z1BR,90226,2013-12-31,67316.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK
3846,Z1BR,90226,2013-12-31,66448.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK
3847,Z1BR,90226,2013-12-31,66069.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK
3848,Z1BR,90226,2013-12-31,65358.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK
3849,Z1BR,90226,2013-12-31,64847.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK
3850,Z1BR,90226,2013-12-31,64655.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK
3851,Z1BR,90226,2013-12-31,64487.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK
3852,Z1BR,90226,2013-12-31,65291.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK
3853,Z1BR,90226,2014-01-31,65920.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK
3854,Z1BR,90226,2014-01-31,66347.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK
3855,Z1BR,90226,2014-01-31,66919.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK
3856,Z1BR,90226,2014-01-31,67849.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK
3857,Z1BR,90226,2014-01-31,68631.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK

In [17]:
print(dfValue['date'].min())
print(dfValue['date'].max())
print(dfValue.count())

2013-01-31 00:00:00
2023-10-31 00:00:00
indicator_id    219101
region_id       219101
date            219101
value           219101
region_type     219101
region          219101
zip             219101
state           219101
dtype: int64

In [18]:
dfValue['date'].unique()

<DatetimeArray>
['2013-11-30 00:00:00', '2013-12-31 00:00:00', '2014-01-31 00:00:00',
 '2014-02-28 00:00:00', '2014-03-31 00:00:00', '2014-11-30 00:00:00',
 '2014-12-31 00:00:00', '2015-01-31 00:00:00', '2015-02-28 00:00:00',
 '2015-03-31 00:00:00',
 ...
 '2017-09-30 00:00:00', '2017-10-31 00:00:00', '2017-11-30 00:00:00',
 '2017-12-31 00:00:00', '2018-01-31 00:00:00', '2018-02-28 00:00:00',
 '2018-03-31 00:00:00', '2018-04-30 00:00:00', '2022-11-30 00:00:00',
 '2022-12-31 00:00:00']
Length: 130, dtype: datetime64[ns]

In [60]:
dfValue['zip'].unique()

array(['74012', '73160', '73013', '74133', '73505', '73072', '73120',
       '73071', '74055', '73034', '73170', '73112', '74136', '73401',
       '74014', '73110', '73012', '73159', '74008', '74075', '73701',
       '74701', '73533', '73107', '73020', '73044', '74115', '73064',
       '74134', '73003', '74037', '74801', '74804', '73507', '74021',
       '74112', '73109', '73129', '74019', '73130', '73521', '73135',
       '73501', '74107', '73115', '73018', '74135', '73008', '73036',
       '73114', '74601', '74129', '74145', '73010', '73139', '74354',
       '74127', '74114', '74146', '74401', '73801', '74361', '74070',
       '74447', '74106', '74110', '73142', '74955', '73118', '73025',
       '74429', '73096', '74344', '73106', '73108', '74003', '73068',
       '73644', '73089', '74467', '74128', '73122', '74948', '74953',
       '74023', '74604', '74301', '74033', '74868', '74104', '73111',
       '74010', '73045', '73026', '74960', '73116', '74745', '74437',
       '73165', '73078', '73055', '74126', '74015', '74873', '73065',
       '73051', '73080', '74132', '74432', '74728', '74434', '74851',
       '74857', '73601', '73446', '73075', '74462', '74743', '74834',
       '73750', '74346', '73117', '73049', '73086', '74036', '74331',
       '74020', '73149', '74426', '74631', '73662', '74959', '73077',
       '74047', '73052', '73179', '74044', '73527', '74578', '73448',
       '74352', '73439', '74859', '74884', '74016', '73134', '73141',
       '74436', '73538', '74059', '74108', '73084', '74881', '74120',
       '74421', '74441', '73128', '74056', '73030', '74937', '73150',
       '74962', '73103', '74048', '74073', '73105', '74730', '74053',
       '74035', '73007', '74131', '74337', '73131', '73047', '74079',
       '74029', '73460', '74855', '74965', '73054', '74864', '73006',
       '73541', '73529', '74966', '74365', '74954', '73463', '73742',
       '74451', '74370', '73169', '73098', '74039', '73772', '74454',
       '74902', '74080', '74116', '74872', '73028', '73173', '74571',
       '73737', '73572', '74058', '74764', '73093', '74547', '74932',
       '73104', '74653', '74030', '74343', '74733', '74130', '73121',
       '74330', '74849', '74363', '73082', '74085', '73762', '74729',
       '74119', '74871', '73059', '74840', '74825', '74469', '73027',
       '74455', '73438', '74956', '73433', '74940', '74435', '73573',
       '74002', '74865', '74471', '74561', '74450', '74735', '73048',
       '74339', '74726', '74442', '74766', '73759', '73729', '73040',
       '74957', '73537', '73548', '73736', '73857', '74554', '74574',
       '73747', '74944', '73624', '73534', '74565', '74054', '74430',
       '73627', '74949', '73673', '74640', '74001', '74750', '73033',
       '73756', '73549', '74540', '73835', '74830', '73622', '73444',
       '74534', '74724', '74843', '73720', '73441', '73758', '73744',
       '74463', '73727', '74577', '74722', '73544', '74646', '74942',
       '73731', '74755', '74760', '73539', '74947', '73733', '74636',
       '74837', '74549', '73556', '74528', '73032', '74567', '74082',
       '73435', '73487', '74576', '74530', '74034', '73437', '73043',
       '73555', '73757', '73855', '74468', '73659', '74438', '73743',
       '73764', '73851', '73901', '74935', '74721', '73436', '74545',
       '74761', '73719', '74458', '74836', '73571', '74559', '73520',
       '74753', '74117', '73551', '14520', '73668', '73553', '73488',
       '73770', '74459', '73019', '73079', '73844', '73960', '73942',
       '74525', '73005', '73717', '74523', '74848', '73542', '74338',
       '73651', '73554', '73632', '73945', '73550', '74061', '73728',
       '73932', '73848', '73858', '73566', '73950', '73860', '73949',
       '73663', '73568', '73062', '73547', '74883', '74083', '73951',
       '73570', '73655', '73647', '73843', '74756', '73063', '73938',
       '73569', '73749', '73722', '74350', '73667', '74536', '73859',
       '74759', '73939', '73626', '73546', '73620', '73664', '74531',
       '74555', '74027', '74533', '74572', '74839', '73641', '74569',
       '73562', '74651', '74452', '74748', '73730', '73073', '74472',
       '73840', '74643', '73842', '73771', '73557', '74829', '74630',
       '73716', '74644', '73761', '74827', '73661', '73841', '73531',
       '73011', '74850', '73654', '73739', '73021', '73834', '73832',
       '73029', '73565', '73650', '73024', '73741', '73564', '73726',
       '73658', '73066', '74360', '73628', '74465', '74444', '73933',
       '73947'], dtype=object)

In [64]:
# zip = 73160, year = 2013
dfValue_temp2 = dfValue.loc[(dfValue['zip'] == '73160') & (dfValue['date'].dt.year == 2018), :]
dfValue_temp2

,indicator_id,region_id,date,value,region_type,region,zip,state
5539,ZCON,89982,2018-07-31,203101.000000,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
5540,ZCON,89982,2018-07-31,199283.000000,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
5636,ZCON,89982,2018-07-31,205321.000000,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
5638,Z1BR,89982,2018-07-31,96459.000000,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
5641,RSNA,89982,2018-07-31,1176.000000,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
...,...,...,...,...,...,...,...,...
8086,Z4BR,89982,2018-09-30,263661.782270,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
8087,Z4BR,89982,2018-09-30,264458.246923,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
8088,Z4BR,89982,2018-09-30,264596.799272,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
8089,Z4BR,89982,2018-09-30,264166.567680,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK
8090,Z4BR,89982,2018-09-30,263654.782368,zip,"73160;OK;Oklahoma City, OK;Moore;Cleveland County",73160,OK

In [20]:
dfValue_2013 = dfValue.loc[dfValue['date'].dt.year == 2013,:]
dfValue_2013.head()

,indicator_id,region_id,date,value,region_type,region,zip,state
3833,Z1BR,90226,2013-11-30,63085.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK
3834,Z1BR,90226,2013-11-30,63557.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK
3835,Z1BR,90226,2013-11-30,64380.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK
3836,Z1BR,90226,2013-11-30,65297.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK
3837,Z1BR,90226,2013-11-30,65842.0,zip,"74012;OK;Tulsa, OK;Broken Arrow;Tulsa County",74012,OK

In [42]:
home_value_by_year = []
for i in range(2013, 2023):
    dfValue_temp = dfValue.loc[dfValue['date'].dt.year == i,:]
    home_value_by_year.append(dfValue_temp.groupby("zip")["value"].mean())

In [43]:
home_value_by_year[0]

zip
73006     81282.105150
73020    186982.959244
73027     85470.500302
73028    103879.276480
73030    115793.668492
             ...
74942     69333.042553
74947     62094.532934
74949     86535.391304
74954    141334.750000
74956    126311.426346
Name: value, Length: 135, dtype: float64

In [51]:
home_value_by_zip = pd.DataFrame(dfValue['zip'].unique())

home_value_by_zip = home_value_by_zip.rename(columns= {0 : 'zip'})

home_value_by_zip = home_value_by_zip.set_index('zip')

home_value_by_zip

Empty DataFrame
Columns: []
Index: [74012, 73160, 73013, 74133, 73505, 73072, 73120, 73071, 74055, 73034, 73170, 73112, 74136, 73401, 74014, 73110, 73012, 73159, 74008, 74075, 73701, 74701, 73533, 73107, 73020, 73044, 74115, 73064, 74134, 73003, 74037, 74801, 74804, 73507, 74021, 74112, 73109, 73129, 74019, 73130, 73521, 73135, 73501, 74107, 73115, 73018, 74135, 73008, 73036, 73114, 74601, 74129, 74145, 73010, 73139, 74354, 74127, 74114, 74146, 74401, 73801, 74361, 74070, 74447, 74106, 74110, 73142, 74955, 73118, 73025, 74429, 73096, 74344, 73106, 73108, 74003, 73068, 73644, 73089, 74467, 74128, 73122, 74948, 74953, 74023, 74604, 74301, 74033, 74868, 74104, 73111, 74010, 73045, 73026, 74960, 73116, 74745, 74437, 73165, 73078, ...]

[449 rows x 0 columns]

In [54]:
year = 2013
for home_value in home_value_by_year:
    print(home_value)
    home_value_by_zip[year] = home_value
    year += 1
    #break

zip
73006     81282.105150
73020    186982.959244
73027     85470.500302
73028    103879.276480
73030    115793.668492
             ...
74942     69333.042553
74947     62094.532934
74949     86535.391304
74954    141334.750000
74956    126311.426346
Name: value, Length: 135, dtype: float64
zip
14520    129180.134752
73003    164099.344953
73005     60699.173862
73006     68487.673279
73019    157882.880150
             ...
74935     62148.017730
74954    145970.214286
74956    124925.180712
74959     33339.500000
74966     48160.000000
Name: value, Length: 137, dtype: float64
zip
73006     55035.068360
73008    216165.500000
73027    137953.083333
73028    104201.839831
73030    122000.818221
             ...
74940    182555.547688
74954    149845.250000
74956    133256.698674
74959     33551.666667
74966     51178.250000
Name: value, Length: 128, dtype: float64
zip
73006     46861.840361
73008    122736.210137
73011    106592.810278
73018    101611.352084
73021    118675.559871
             ...
74940    181684.843573
74954    150019.000000
74956    120890.694635
74959     33504.000000
74966     51148.000000
Name: value, Length: 122, dtype: float64
zip
73010    197874.116531
73024     95660.383802
73025    352831.416274
73029     77412.743648
73066    100036.548387
73096    152492.814781
73118    183453.456420
73139    116548.875955
73142    282232.499294
73564     59160.985820
73565     42561.588652
73628    118937.554540
73650    163455.437174
73658    121233.636364
73726     54701.864411
73741     97633.902450
73801    117963.496623
73933     54137.627424
73947     53353.122280
74012    253176.073374
74070    175750.084170
74106     61260.383231
74110     57814.289543
74114    313001.796234
74127     98807.823437
74128    139273.174766
74129    130721.637577
74145    132923.360974
74146    119359.838835
74354     99419.667511
74360     52572.278788
74361    154095.526477
74401     69684.338136
74429    178400.108874
74444    119134.214286
74447     66042.213298
74450    107753.555556
74455     58230.947944
74465     79898.045455
74735    137159.721149
74849     37022.666667
74865    174250.098428
74902     60664.862541
74955    118758.855752
Name: value, dtype: float64
zip
73013    169073.731609
73048    203967.666667
73068    149097.732877
73089    208483.875566
73096    149539.722009
73106    126304.110765
73108     67158.769657
73111     87612.999272
73122    113123.315396
73150    237311.519440
73160    155361.046899
73644    137563.821303
74003     92233.236949
74010    122643.223827
74012     86534.940271
74023    109014.583298
74033    164518.872242
74058     81740.168677
74104    157330.662245
74128     90156.494547
74301    125952.007647
74344    208083.770910
74421     91267.500000
74455     60632.653143
74467    133862.549312
74604    155237.052817
74849     38756.166667
74865    156915.874635
74868     93541.917627
74902     62279.677147
74944     65799.000000
74948    115220.735007
74953    109082.697006
74956     80963.229284
Name: value, dtype: float64
zip
73013    224113.044303
73026    238760.253266
73045    169309.589805
73048     76794.000000
73051    134125.511118
73055    127268.727175
73065    205310.327666
73072    207264.246320
73078    227430.057919
73080    131905.332574
73116    397327.442547
73165    254111.692789
73505    122241.726080
73759     66892.943045
74010    129013.193731
74015    203028.918442
74126     46998.627758
74132    243511.458827
74133    183813.528574
74432    164108.020554
74434    149856.363976
74437     69837.215815
74455     66139.253552
74728    202389.288951
74745     95750.872693
74849     41058.583333
74851    124249.842135
74857    216820.482370
74865     48739.750000
74873    104481.635935
74881     95354.000436
74902     64066.515379
74956     81243.041478
74960     94284.987653
Name: value, dtype: float64
zip
73025    321513.278592
73034    211072.080378
73040     31627.234840
73048    115361.500000
73049    271605.309845
             ...
74881    231612.000000
74902     66972.367945
74956    119010.000000
74957    121670.589988
74959     96670.908106
Name: value, Length: 66, dtype: float64
zip
73052    103046.017415
73084     93161.080835
73112    111944.495896
73134    185613.967717
73141    110951.100536
73170    191253.136698
73179    213591.334518
73439    159161.277535
73448    134104.486974
73527    163437.410453
73538    198259.401701
73857     99311.500000
74016    156617.974064
74044    144987.094489
74047    265690.010128
74059    150971.520233
74108    129594.104102
74120    224826.281325
74136    177653.782802
74352    114179.501003
74421    140138.114298
74436    124478.719026
74441    101425.735915
74442    124517.000000
74578     79105.674736
74859     83696.216885
74881    138565.584832
74884     59216.736652
Name: value, dtype: float64
zip
73007    381607.175258
73030    108103.363819
73047    126509.703837
73103    263824.628856
73105    116090.632879
73110     91359.960160
73128    188796.933956
73131    351957.493248
73150    222677.388615
73401    138052.598641
73460     95083.570921
74014    168796.392892
74029     86442.562150
74035     73042.211021
74048     78240.852606
74053    192332.094283
74056     97454.810639
74073    227272.039510
74079     92772.921329
74131    228151.925745
74136    316052.388088
74337    136361.805646
74441    162587.838291
74730    159342.687383
74855    138158.098207
74865    126285.172788
74937     68575.770669
74962    123637.899469
74965    106785.135858
Name: value, dtype: float64

In [55]:
home_value_by_zip

,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
zip,,,,,,,,,,
74012,65720.6,110497.708021,171991.494693,223018.24299,253176.073374,86534.940271,NaN,NaN,NaN,NaN
73160,NaN,NaN,NaN,NaN,NaN,155361.046899,NaN,NaN,NaN,NaN
73013,NaN,NaN,NaN,NaN,NaN,169073.731609,224113.044303,NaN,NaN,NaN
74133,NaN,NaN,NaN,NaN,NaN,NaN,183813.528574,NaN,NaN,NaN
73505,NaN,NaN,NaN,NaN,NaN,NaN,122241.726080,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
73628,NaN,NaN,NaN,NaN,118937.554540,NaN,NaN,NaN,NaN,NaN
74465,NaN,NaN,NaN,NaN,79898.045455,NaN,NaN,NaN,NaN,NaN
74444,NaN,NaN,NaN,NaN,119134.214286,NaN,NaN,NaN,NaN,NaN
73933,NaN,NaN,NaN,NaN,54137.627424,NaN,NaN,NaN,NaN,NaN
73947,NaN,NaN,NaN,NaN,53353.122280,NaN,NaN,NaN,NaN,NaN