In [2]:
import pandas as pd
import numpy as np

dfSample = pd.read_csv("ZILLOW-DATA.csv")
df = pd.read_csv("ZILLOW_DATA_962c837a6ccefddddf190101e0bafdaf.csv")

In [3]:
dfRegions = pd.read_csv("ZILLOW_REGIONS.csv")
print("\nThere are no missing regions:\n",dfRegions.info())
print("\nHere's the count of unique region columns:\n",dfRegions.nunique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89305 entries, 0 to 89304
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   region_id    89305 non-null  int64
 1   region_type  89305 non-null  object
 2   region       89305 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB

There are no missing regions:
 None

Here's the count of unique region columns:
 region_id      89305
region_type        6
region         89295
dtype: int64

In [4]:
print("Here are the top 5 rows of the dataframe:\n",df.head())
print("\nHere are the columns with missing data:\n",df.info())
print("\nHere's the count of unique values in the dataset:\n",df.nunique())

Here are the top 5 rows of the dataframe:
   indicator_id  region_id        date     value
0         ZATT       3101  1998-01-31  338849.0
1         ZATT       3101  1998-02-28  342993.0
2         ZATT       3101  1998-03-31  346763.0
3         ZATT       3101  1998-04-30  349356.0
4         ZATT       3101  1998-05-31  351981.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151555917 entries, 0 to 151555916
Data columns (total 4 columns):
 #   Column        Dtype
---  ------        -----
 0   indicator_id  object
 1   region_id     int64
 2   date          object
 3   value         float64
dtypes: float64(1), int64(1), object(2)
memory usage: 4.5+ GB

Here are the columns with missing data:
 None

Here's the count of unique values in the dataset:
 indicator_id          56
region_id          89305
date                1129
value           82293706
dtype: int64

In [5]:
print("There are no null values:\n",df.isnull().sum())
print("\nHere are the row and column counts for the data:",df.shape)

There are no null values:
 indicator_id    0
region_id       0
date            0
value           0
dtype: int64

Here are the row and column counts for the data: (151555917, 4)

In [6]:
print(df['date'].min())
print(df['date'].max())

1996-01-31
2023-11-04

In [7]:
dfRegions.head()

   region_id region_type                                             region
0     394401       metro                                      Boone, IA; IA
1     274772       neigh  Northeast Dallas; TX; Dallas-Fort Worth-Arling...
2     273698       neigh  Far North; TX; Dallas-Fort Worth-Arlington, TX...
3     275473       neigh  Southeast Dallas; TX; Dallas-Fort Worth-Arling...
4          9       state                                         California

In [21]:
dfRegions=dfRegions.loc[dfRegions['region_type']=='zip',:]
dfRegions['zip']=dfRegions['region'].str.split(';',n=1,expand=True)[0]
dfRegions.head(25)

,region_id,region_type,region,zip
9,58011,zip,00612; MI; Crawford County; Frederic,00612
13,58051,zip,00693; PA; Pittsburgh; Westmoreland County; Gr...,00693
17,58109,zip,00795; AL; Auburn-Opelika; Lee County; Juana Diaz,00795
23,58129,zip,00907; AR; Forrest City; Saint Francis County;...,00907
91,92526,zip,"78584; TX; Rio Grande City-Roma, TX; Starr County",78584
265,58004,zip,00602; AL; Auburn-Opelika; Lee County; Auburn,00602
269,62298,zip,"11951; NY; New York-Newark-Jersey City, NY-NJ-...",11951
455,94610,zip,84627; UT; Sanpete County; Ephraim,84627
534,89510,zip,"72370; AR; Blytheville, AR; Mississippi County...",72370
628,83982,zip,59255; MT; Roosevelt County; Poplar,59255
668,89144,zip,"71643; AR; Pine Bluff, AR; Lincoln County; Gould",71643
696,58139,zip,00917; UT; Kane County; San Juan,00917
717,81573,zip,"54129; WI; Appleton, WI; Calumet County; Woodv...",54129
736,91465,zip,76544; TX; Killeen-Temple; Bell County; Belton,76544
753,58056,zip,00705; UT; Kane County; Aibonito,00705
772,88594,zip,"70441; LA; Baton Rouge, LA; Saint Helena Paris...",70441
811,73868,zip,36445; AL; Monroe County; Frisco City,36445
842,92713,zip,78853; TX; Eagle Pass; Maverick County,78853
905,58003,zip,00601; MS; Tippah County; Adjuntas,00601
922,69843,zip,28307; NC; Fayetteville; Cumberland County; Fo...,28307
923,89614,zip,72533; AR; Stone County,72533
927,85736,zip,62865; IL; Franklin County; Christopher,62865
936,86219,zip,63851; MO; Pemiscot County; Hayti,63851
956,88544,zip,"70341; LA; Baton Rouge, LA; Assumption Parish;...",70341
983,65215,zip,"17846; PA; Bloomsburg-Berwick, PA; Columbia Co...",17846

In [24]:
dfRegions['state']=dfRegions['region'].str.split(';',n=1,expand=True)[1].str.split(';',n=1,expand=True)[0].str.strip(' ')
dfRegions.head()

,region_id,region_type,region,zip,state
9,58011,zip,00612; MI; Crawford County; Frederic,00612,MI
13,58051,zip,00693; PA; Pittsburgh; Westmoreland County; Gr...,00693,PA
17,58109,zip,00795; AL; Auburn-Opelika; Lee County; Juana Diaz,00795,AL
23,58129,zip,00907; AR; Forrest City; Saint Francis County;...,00907,AR
91,92526,zip,"78584; TX; Rio Grande City-Roma, TX; Starr County",78584,TX

In [26]:
dfRegions=dfRegions.loc[dfRegions['state']=='OK',:]
dfRegions.count()

region_id      642
region_type    642
region         642
zip            642
state          642
dtype: int64

In [28]:
dfValue=pd.merge(df,dfRegions,on="region_id")
print(dfValue.head())
print(dfValue.count())

  indicator_id  region_id        date          value region_type  \
0         ZSFH      89925  2000-01-31  104420.426693         zip
1         ZSFH      89925  1996-01-31   84158.000000         zip
2         ZSFH      89925  1996-02-29   84299.000000         zip
3         ZSFH      89925  1996-03-31   84424.000000         zip
4         ZSFH      89925  1996-04-30   84685.000000         zip

                                             region    zip state
0  73099;OK;Oklahoma City, OK;Yukon;Canadian County  73099    OK
1  73099;OK;Oklahoma City, OK;Yukon;Canadian County  73099    OK
2  73099;OK;Oklahoma City, OK;Yukon;Canadian County  73099    OK
3  73099;OK;Oklahoma City, OK;Yukon;Canadian County  73099    OK
4  73099;OK;Oklahoma City, OK;Yukon;Canadian County  73099    OK
indicator_id    1011594
region_id       1011594
date            1011594
value           1011594
region_type     1011594
region          1011594
zip             1011594
state           1011594
dtype: int64

In [29]:
df.count()

indicator_id    151555917
region_id       151555917
date            151555917
value           151555917
dtype: int64

In [30]:
dfValue=dfValue.loc[dfValue['date']>'2012-12-31',;]
dfValue.head()

SyntaxError: invalid syntax (2324374729.py, line 1)

In [32]:
dfValue.dtypes

indicator_id     object
region_id         int64
date             object
value           float64
region_type      object
region           object
zip              object
state            object
dtype: object

In [35]:
dfValue['date'] = pd.to_datetime(df['date'])
dfValue.dtypes

indicator_id            object
region_id                int64
date            datetime64[ns]
value                  float64
region_type             object
region                  object
zip                     object
state                   object
dtype: object

In [38]:
dfValue=dfValue.loc[dfValue['date']>'2012-12-31',:]
dfValue.head(25)

,indicator_id,region_id,date,value,region_type,region,zip,state
34,ZSFH,89925,2019-09-30,94141.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
35,ZSFH,89925,2019-09-30,94445.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
36,ZSFH,89925,2019-09-30,94711.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
37,ZSFH,89925,2019-09-30,94782.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK
38,ZSFH,89925,2019-09-30,95009.0,zip,"73099;OK;Oklahoma City, OK;Yukon;Canadian County",73099,OK

In [39]:
print(dfValue['date'].min())
print(dfValue['date'].max())
print(dfValue.count())

2013-01-31 00:00:00
2023-10-31 00:00:00
indicator_id    488591
region_id       488591
date            488591
value           488591
region_type     488591
region          488591
zip             488591
state           488591
dtype: int64

In [42]:
dfValue['date'].unique()

<DatetimeArray>
['2019-09-30 00:00:00', '2013-01-31 00:00:00', '2013-02-28 00:00:00',
 '2013-03-31 00:00:00', '2013-04-30 00:00:00', '2013-05-31 00:00:00',
 '2013-06-30 00:00:00', '2013-07-31 00:00:00', '2013-08-31 00:00:00',
 '2013-09-30 00:00:00',
 ...
 '2023-02-28 00:00:00', '2023-03-31 00:00:00', '2023-04-30 00:00:00',
 '2023-05-31 00:00:00', '2023-06-30 00:00:00', '2023-07-31 00:00:00',
 '2023-08-31 00:00:00', '2023-09-30 00:00:00', '2023-10-31 00:00:00',
 '2015-09-30 00:00:00']
Length: 130, dtype: datetime64[ns]